<div class="contact-form margin-top-large">
    <div class="wrapper-content">
    <ng-container *ngIf="contactInfo">
        <span class="contact-info">{{this.contactInfo.contact.name}}</span>
        <span class="contact-info">{{this.contactInfo.contact.tel}}</span>
        <span class="contact-info">{{this.contactInfo.contact.email}}
            <a href="mailto:{{this.contactInfo.contact.email}}?subject={{this.contactInfo.subject_matter}}&body={{this.contactInfo.comment}}" mat-icon-button color="accent"><mat-icon>email</mat-icon></a>
        </span>
    </ng-container>
    <form [formGroup]="contactForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Message</mat-label>
            <textarea matInput rows="5" formControlName="message"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" type="button" (click)="sendMessage()">Enviar</button>
    </form>
    </div>
</div>