<div class="contact-form margin-top-large">
    <form [formGroup]="contactForm">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input matInput type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Message</mat-label>
            <textarea matInput rows="5"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" type="button" (click)="sendMessage()">Enviar</button>
    </form>
</div>