@use 'sass:map';
@use '@angular/material' as mat;

@mixin init($theme) {
    $config: mat.get-color-config($theme);
    $primary: map.get($config, 'primary');
    $accent: map.get($config, 'accent');

    .background {
        background-color: mat.get-color-from-palette($primary, 500);
    }
    
    .employment h3 {
        color: mat.get-color-from-palette($accent, 300);
    }

    .date {
        color: mat.get-color-from-palette(mat.$gray-palette, 500);
    }

    .employment .role,
    .description,
    .bio {
        color: mat.get-color-from-palette(mat.$gray-palette, 400);
    }
}