<div class="background"></div>

<mat-card class="card-user margin-top-small">
    <img loading="lazy" src={{user?.avatarUrl}} />
    <mat-card-header>
        <mat-card-title class="margin-top-small">{{user?.name}}</mat-card-title>
        <mat-card-subtitle>{{user?.company}} / {{user?.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <button  mat-button (click)="openGitHub()">GitHub</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<h1 class="title margin-top-large">Sobre</h1>
<p class="bio">{{user?.bio}}</p>

<h2 class="subtitle margin-top-large">Tecnologias que mais uso</h2>
<div class="stack wrapper-content">
    <mat-card *ngFor="let technology of stack">
        <mat-card-header>
            <mat-card-title>{{technology.name}}</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>

<h2 class="subtitle margin-top-large">Experiences</h2>

<div class="employments wrapper-content">
    <mat-tab-group dynamicHeight color="accent">
        <mat-tab *ngFor="let employment of employments" label={{employment.company}}>
            <div class="employment margin-top-small">
                <h3><span class="role">{{employment.role}}/</span>{{employment.company}}</h3>
                <h4 class="date">{{employment.startAt.toLocaleDateString()}} - {{employment.endAt ? employment.endAt.toLocaleDateString() : 'Presente'}}</h4>
                <p class="description">{{employment.description}}</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
