@use 'pages/about/about-style' as about;
@use 'components/contact-form/contact-form' as contact;

@mixin core($theme) {
    @include about.init($theme);
    @include contact.init($theme);
}

.wrapper-content {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}

.title,
.subtitle {
    text-align: center;
}

.margin-top-small {
    margin-top: 1.3rem !important;
}

.margin-top-medium {
    margin-top: 1.7rem !important;
}

.margin-top-large {
    margin-top: 3rem !important;
}