@use 'sass:map';
@use '@angular/material' as mat;

@use 'pages/home/home-style' as home;

@use 'components/contact-form/contact-form' as contact;
@use 'components/side-nav/side-nav-style.scss' as nav;

@mixin core($theme) {
    $config: mat.get-color-config($theme);
    $primary: map.get($config, 'primary');
    $accent: map.get($config, 'accent');

    @include contact.init($theme);
    @include home.init($theme);
    @include nav.init($primary);
}

.wrapper-content {
  padding: 0 1.3rem;
  max-width: 960px;
  margin: 0 auto;
}

.title,
.subtitle {
    text-align: center;
}

.margin-top-small {
    margin-top: 1.3rem !important;
}

.margin-top-medium {
    margin-top: 1.7rem !important;
}

.margin-top-large {
    margin-top: 3rem !important;
}