.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.desc {
    font-size: 1.3rem;
    font-weight: 300;
}