<div class="background"></div>

<mat-card class="card-user margin-top-large" *ngIf="user; else placeHolder">
    <img src={{user.avatarUrl}} />
    <mat-card-header>
        <mat-card-title class="margin-top-small">{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.company}} / {{user.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{user.bio}}</p>
    </mat-card-content>
    <mat-card-actions class="fix-padding">
        <button  mat-button (click)="openGitHub()" color="primary">GitHub</button>
    </mat-card-actions>
</mat-card>

<ng-template #placeHolder>
    <mat-card>
        
    </mat-card>
</ng-template>


<div class="stats margin-top-small">
    <div class="stat">
        <span>{{user?.repositories}}</span>
        <p>repositórios</p>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="stat">
        <span>{{user?.followers}}</span>
        <p>seguidores</p>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="stat">
        <span>{{user?.following}}</span>
        <p>seguindo</p>
    </div>
</div>

<h2 class="subtitle margin-top-large">Tecnologias</h2>
<div class="stack wrapper-content">
    <mat-card *ngFor="let technology of stack">
        <mat-card-header>
            <mat-card-title>{{technology.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-bar mode="determinate" value="{{technology.value}}" color="{{technology.value > 50 ? 'accent': 'warn'}}"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
</div>

<h2 class="subtitle margin-top-large">Experiences</h2>

<div class="employments wrapper-content">
    <mat-tab-group dynamicHeight color="accent">
        <mat-tab *ngFor="let employment of employments" label={{employment.company}}>
            <div class="employment margin-top-small">
                <h3><span class="role">{{employment.role}}/</span>{{employment.company}}</h3>
                <h4 class="date">{{employment.startAt.toLocaleDateString()}} - {{employment.endAt ? employment.endAt.toLocaleDateString() : 'Presente'}}</h4>
                <p class="description margin-top-small">{{employment.description}}</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
