@use 'sass:map';
@use '@angular/material' as mat;
 


.stats {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.stats .stat {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 128px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.employment h3 {
    font-size: 1.5rem;
    line-height: 1.1;
    word-wrap: break-word;
}

.employment .role {
    font-weight: 300;
    font-size: 1.4rem;
}

.employments {
    max-width: 480px;
    margin: 0 auto;
}

.employment * {
    margin: 0;
    padding: 0;
}

.stack {
    gap: 1rem;
    max-width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.stack > * {
    flex-grow: 1;
    max-width: 128px;
    width: 100%;
}